
h1 {
  text-align: center;
  padding-top: 0.3em;
}

p {
  text-align: justify;
  font-size: 1.2em;
}

.card-body {
  background-color: #ecd8ec;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.card-footer {
  background-color: #020e39;
}

.container-posts {
  background-color:#ecd8ec;
}

/*
 * 1. CLASE BASE: Asegura que la transición sea suave.
 * La transición debe aplicarse a la propiedad 'transform' o 'top' (usamos top en este caso).
 */
 .fixed-top {
  transition: top 0.3s; /* Transición suave de 0.3 segundos */
}

/*
* 2. CLASE DE OCULTACIÓN: Mueve la barra fuera del viewport.
* Definimos 'top' para que esté justo arriba del borde superior.
*/
.nav-hidden {
  top: -65px; /* Ajusta este valor. Debe ser mayor que la altura de tu barra de navegación. */
}

.bonheur-royale-regular {
  font-family: "Bonheur Royale", cursive;
  font-weight: 400;
  font-style: normal;
  font-size:1.4em;
}

.favicon-img {
    width: 38px;  /* Define explícitamente el ancho */
    height: 38px; /* Define explícitamente el alto */
    margin-right: 8px; /* Opcional: añade un pequeño espacio a la derecha para separarlo del texto "Tax" */
}
