---
layout: default
---

<p>
  Publicado: {{ page.date | date_to_string }}

  {% comment %}
    Comprueba si existe la fecha de modificación Y si es diferente a la fecha de publicación original.
  {% endcomment %}
  {% if page.last_modified_at and page.last_modified_at != page.date %}

    <br><small class="text-muted">Última Actualización:
        {{ page.last_modified_at | date: "%d %b %Y" }}
    </small>
  {% endif %}
</p>

<div class="container rounded-2 p-3 shadow-lg container-posts">
  {{ content }}
</div>
